*.ko
*.mod
*.mod.*
*.o
.#*
.*cmd
Module.symvers
debian/.debhelper
debian/changelog
debian/debhelper-build-stamp
debian/files
debian/postinst
debian/prerm
debian/tnsr-kmods
debian/tnsr-kmods.debhelper.log
debian/tnsr-kmods.substvars
extras/conf/Makefile
modules.order
